@import "../../styles/globalVars.scss";
.side-bar {
    position: fixed;
    height: 100vh;
    width: $sideBarWidth;
    left: 0;
    background-color: $bgColor;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
    h1 {
        color: $secondaryColor;
        font-family: monospace;
        font-size: 3em;
        margin: 1em 0;
        &:hover {
            cursor: pointer;
        }
    }
    .dropdown {
        width: 100%;
        .sub-menu {
            color: $accentColor;
            margin: 0.5em auto;
            font-size: 1.2em;
            font-weight: 600;
            >div p {
                padding: 0.5em 1em;
                margin: 0;
                &:hover {
                    cursor: pointer;
                    background-color: darken($bgColor, 10%);
                    border-radius: 5px;
                }
            }
        }
    }
    .dropdown-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: $primaryColor;
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
            &:hover {
                cursor: pointer;
            }
            &:visited {
                text-decoration: none;
                color: $primaryColor;
            }
        }
        button {
            $size: 2em;
            background-color: transparent;
            border: none;
            width: $size;
            height: $size;
            padding: 0;
            text-align: center;
            svg {
                color: $primaryColor;
                height: $size;
                width: $size;
                &:hover {
                    cursor: pointer;
                }
            }
            border-radius: 50%;
            &:hover {
                background-color: darken($bgColor, 10%);
            }
        }
    }
    a {
        text-decoration: none;
        font-weight: 500;
         :visited {
            text-decoration: none;
            color: $secondaryColor;
        }
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: $bgColor;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: darken($bgColor, 10%);
    border-radius: 10px;
    &:hover {
        background-color: darken($bgColor, 20%);
    }
}